.container {
  padding: 5em;
  background-color: rgb(211, 82, 59);
}

.title {
  font-weight: bold;
  font-size: 5em;
  line-height: 1;
  color: #fff;
}

.img-backg {
  background-image: url('../assets/plant.jpg');
  background-position: center;
  background-size: cover;
}

.img-block {
  padding: 5em;
  border-radius: 10px 0 0 10px;
  color: #fff;
}

.form-block {
  padding: 5em;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
}

.form-item-input {
  border-style: none;
  border-radius: 0;
  border-bottom: 1px solid #d9d9d9;
}

.checkbox {
  border-radius: 20px;
}

.subtitle {
  font-weight: bold;
}

.btn-login {
  width: 40%;
  border-style: none;
  border-radius: 20px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(255, 0, 55);
}

.btn-social {
  width: 30%;
  font-size: 0.85em;
  border-style: none;
  border-radius: 20px;
  color: #fff;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1DA1F2;
}

.google {
  background-color: #dd4b39;
}