.container {
  height: 100vh;
  background-color: #797979;
}

.img-backg {
  background-image: url('../assets/plant.jpg');
  background-position: center;
  background-size: cover;
  
}

.img-block {
  padding: 5em;
  border-radius: 10px 0 0 10px;
}

.form-block {
  padding: 5em;
  border-radius: 0 10px 10px 0;
  background-color: #bfbfbf;
}