@import './_variables.scss';

.img-backg {
  background-image: url('../../assets/plant.jpg');
  background-position: center;
  background-size: cover;
}

@mixin img-block-base {
  padding: $padding;
  color: #fff;
}

@mixin form-block-base {
  padding: $padding;
  background-color: #fff;
}

.form {
  margin-top: $margin;
}

.label {
  border-bottom: 1px solid $border-color;
  width: $justify;
  margin-top: $short-margin;
}

.form-item-input {
  border-style: none;
  border-radius: 0;
}

.subtitle {
  font-weight: $font-strong;
}

.paragraph-text {
  color: $primary-color-font;
}

.btn-login {
  width: 40%;
  border-style: none;
  border-radius: $btn-radius;
  font-weight: $font-strong;
  color: $second-color-font;
  background-color: $primary-color;
  margin-top: $margin;

  &:hover {
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: #fff;
  }
}

.link-btn {
  color: $second-color-font;
}

.container-vh {
  height: 100vh;
}

@media (max-width: $breakpoint-large) {
  .btn-login {
    width: 100%;
  }
}

@media (max-width: $breakpoint-medium) {
  .img-backg {
    display: none;
  }
}