@import './_variables.scss';

.img-backg {
  background-image: url('../../assets/plant.jpg');
  background-position: center;
  background-size: cover;
}

@mixin img-block-base {
  padding: $padding;
  color: #fff;
}

@mixin form-block-base {
  padding: $padding;
  background-color: #fff;
}

.form-item-input {
  border-style: none;
  border-radius: 0;
  border-bottom: 1px solid #d9d9d9;
}

.subtitle {
  font-weight: $font-strong;
}

.account-text {
  color: $primary-color-font;
}

.btn-login {
  width: 40%;
  border-style: none;
  border-radius: $btn-radius;
  font-weight: $font-strong;
  color: $second-color-font;
  background-color: $primary-color;
}

.btn-social {
  width: 30%;
  font-size: 0.85em;
  border-style: none;
  border-radius: $btn-radius;
  color: $second-color-font;
}

.facebook {
  background-color: $facebook;
}

.twitter {
  background-color: $twitter;
}

.google {
  background-color: $google;
}