$padding: 5vw;
$margin: 2em;
$short-margin: 1em;
$justify: 100%;
$primary-color: #FF0037;
$second-color: #FF4D73;
$third-color: #CC3E14;
$facebook: #3b5998;
$twitter: #1DA1F2;
$google: #dd4b39;
$primary-color-font: rgba(0, 0, 0, 0.65);
$second-color-font: #fff;
$btn-radius: 20px;
$font-strong: bold;
$border-color: #d9d9d9;
$breakpoint-small: 425px;
$breakpoint-medium: 525px;
$breakpoint-large: 1200px;