@import './global.scss';

.title {
  font-weight: $font-strong;
  font-size: 5em;
  line-height: 1;
  color: $second-color-font;
}

.img-block-new {
  @include img-block-base;
  border-radius: 10px 0 0 10px;
}

.form-block-new {
  @include form-block-base;
  border-radius: 0 10px 10px 0;
}