@import './variables.scss';

.margin {
  margin-top: $margin;
}

.btn-social {
  width: 30%;
  font-size: 0.85em;
  border-style: none;
  border-radius: $btn-radius;
  color: $second-color-font;
}

.facebook {
  background-color: $facebook;

  &:hover {
    color: $facebook;
    border: 1px solid $facebook;
  }
}

.twitter {
  background-color: $twitter;
  
  &:hover {
    color: $twitter;
    border: 1px solid $twitter;
  }
}

.google {
  background-color: $google;

  &:hover {
    color: $google;
    border: 1px solid $google;
  }
}

@media (max-width: $breakpoint-large) {
  .container-btn {
    display: flex;
    flex-direction: column;
  }

  .btn-social {
    width: 100%;
  }

  .twitter {
    margin: 1em 0 1em 0;
  }
}

@media (max-width: $breakpoint-small) {
  #btn-social-text {
    display: none;
  }
}